@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-font-color: #333;
  --main-theme-color: #007aff;
  --secondary-theme-color: #f4f4f5;
  font-size: 16px;
}

html,
body {
  height: 100%;
  font-family:
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    Helvetica Neue,
    Helvetica,
    sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: var(--main-font-color);
  margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.solid-button {
  @apply bg-[--main-theme-color] text-white font-[600] text-sm border-none p-2 hover:opacity-80 disabled:opacity-80;
}

.solid-button-light {
  @apply bg-white text-[--main-font-color] font-[600] text-sm border border-solid border-zinc-300 p-2 hover:opacity-80 disabled:opacity-80;
}

select {
  @apply appearance-none w-full h-full rounded-lg pt-1 pr-6 pb-1 pl-3;
}

.select-wrapper {
  @apply relative rounded-lg border border-solid border-zinc-300 after:content-['▼'] after:text-[1rem] after:absolute after:top-1 after:right-2;
}
